@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-BoldItalic.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-Bold.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-Italic.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-MediumItalic.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-Light.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-LightItalic.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-Medium.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-MediumItalic.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-LightItalic.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-Light.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-Bold.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-Medium.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-Italic.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mark Pro";
  src: url("../assets/fonts/markpro/MarkPro-BoldItalic.woff") format("woff"),
    url("../assets/fonts/markpro/MarkPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
